body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: hidden;
}

canvas {
  background-color: black;
}

.main_ui {
  border-left: 4px solid rgb(0, 255, 0);
}

.inventory_ui {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}
